nav {
    border-top: 4px solid rgb(255,204,39);
}

.btn-primary{
    background-color: rgb(255,204,39);
    border-color: rgb(255,204,39);
}

.btn-primary:hover{
    background-color: rgb(218, 166, 0);
    border-color: rgb(218, 166, 0);
}

.carousel {
    background-color: rgb(255,204,39);
}

.carousel-caption {
    border-left: solid rgb(255,204,39) 4px;
}

.carousel img {
    filter: opacity(90%);
}

.carousel-caption {
    background-color:rgb(33, 32, 21, 50%);
}

footer {
    background-color:#222222;
    color:#dddddd;
}

.footer-copyright {
    background-color:#333333;
    border-top: 4px solid rgb(255,204,39);
}

.footer-item{
    float:left;
}

.bg-yellow {
    background-color: rgb(255,204,39);
    color:black;
}

.socialFeeds {
    height:300px;
}

.card:hover {
    -webkit-transform: scale(1.02);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: scale(1.02);  /* IE 9 */
    transform: scale(1.02);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: -webkit-transform 0.4s; /* Safari */
    transition: transform 0.4s;

}

@media only screen and (min-width: 768px) {
  .card-img-top{
      height:225px;
      object-fit:cover;
    }
}

.card-img-overlay {
    background-color:rgb(33, 32, 21, 50%);
    opacity:0;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.card-img-overlay:hover {
    background-color:rgb(33, 32, 21, 50%);
    opacity:1;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

/*#####################
###FOR BACK END#######
#####################*/

#calendar {
  background-color: white;
  height:10%;
  width:80%;
  float: none;
  margin: auto;
  margin-top:1%;
  margin-bottom:1%;
}

#calendar-navbar {
  width: 100%;
  padding-left:12%;
}

#calendar-title {
  font-size: 200%;
  margin:0%;
}

error{
 background-color:rgb(33, 32, 21, 50%);			display: none;
	    opacity:1;	103		margin-left: 10px;
	    -webkit-transition: opacity 0.4s;	104	  color: red;
	    transition: opacity 0.4s;	105	}
